@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus-visible {
    outline: none;
}

textarea:focus-visible {
    outline: none;
}

/* Стили для скроллбара */

.modal {
    padding-right: -10px;
    overflow: auto; /* Добавьте свойство overflow: auto для создания блока с прокруткой */
    scrollbar-width: thin; /* Указывает толщину скроллбара. Можно изменить на 'auto' для использования стилизации скроллбара по умолчанию */
    scrollbar-color: #bdbdbd #cacaca; /* Цвет ползунка и фона трека скроллбара */
}

.modal::-webkit-scrollbar {
    /* Устанавливаем свой параметр для отображения скроллбара */
    width: 10px;
    /*background-color: transparent;*/
    /*border-radius: 8px;*/
    /*margin-right: 8px;*/
    z-index: 100; /* Указываем z-index, чтобы скроллбар отображался поверх содержимого */
}

.modal::-webkit-scrollbar-thumb {
    /* Устанавливаем параметры стилизации ползунка скроллбара */
    background-color: #bdbdbd;
    border-radius: 8px;
}

.modal::-webkit-scrollbar-track {
    /* Устанавливаем параметры стилизации фона трека скроллбара */
    background-color: #cacaca;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.headroom {
    height: 50px;
    background-color: black;
    width: 100%;
}

.headroom-pinned {
    position: fixed;
    top: 0!important;
}

.headroom-scrolled {
    left: 0;
    position: fixed;
    right: 0;
    top: -112px;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Черный цвет с прозрачностью 50% */
    backdrop-filter: blur(10px); /* Задаем размытие */
    z-index: 100; /* Убедитесь, что модальное окно находится выше другого контента */
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    z-index: 101; /* Убедитесь, что контент модального окна находится выше размытого фона */
}
.modal-background2 {
    backdrop-filter: blur(10px);
}
.full-screen-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Черный цвет с прозрачностью 50% */
    backdrop-filter: blur(10px); /* Задаем размытие */
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    z-index: 101; /* Убедитесь, что контент модального окна находится выше размытого фона */
}

.dropDown {
    /*-webkit-transition: max-height 1s;*/
    transition: max-height .5s, padding 0.1s;
}


